*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
	background-color: lavender;
}

main {
	display: flex;
	align-items: center;
	height: 100vh;
}

section{
	margin: auto;
	display: flex;
	background-color: violet;
	justify-content: center;
	align-items: center;
	width: 80%;
	min-height: 500px;
	text-align: center;
	border-radius: 20px;
}

article{
	width: 300px;
	background-color: red;
	position: absolute;
	bottom: 550px;
	border-radius: 20px;
}